////ANIMATION.SCSS
/******MIXIN******/
@mixin prefixonprop($prop, $val...) {
  -webkit-#{$prop}: $val;
  -moz-#{$prop}: $val;
  -o-#{$prop}: $val;
  -ms-#{$prop}: $val;
  #{$prop}: $val;
}

@mixin prefixonvalue($prop, $val...) {
  #{$prop}: -webkit-#{$val};
  #{$prop}: -moz-#{$val};
  #{$prop}: -o-#{$val};
  #{$prop}: -ms-#{$val};
  #{$prop}: $val;
}

@mixin clear_fix{
content: "";
display: block;
clear: both;
}

/** animated boxes **/
.animBlock[data-position="up"] { 
  h2,h4,h6{@include prefixonprop(transform, translateY(111%));}
}

.animBlock[data-position="up"].viewed {
  h2,h4,h6{
    @include prefixonprop(transform, translateY(0));
    @include prefixonprop(transition, transform cubic-bezier(.25,.1, 0,1));
    &:after{
      @include prefixonprop(transform, scaleY(0));
    }
  }
  h6{
    transition-duration: 1.2s;
  }
}

.mask-fadein.animBlock[data-position="in"],
.animBlock[data-position="in"] h3 {
display: inline-block;
opacity: 0;
@include prefixonprop(transform, translateY(10%));
}

.mask-fadein.animBlock[data-position="in"].viewed,
.animBlock[data-position="in"].viewed h3{
@include prefixonprop(transform, translateY(0));
transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.4s;
transition-duration: 0.8s;
opacity: 1;
}

/***************
 START HERO
****************/
#hero{
.container{
  .text_middle{
    h2{
      &:first-child{
        transition-delay: 0.5s;
        transition-duration: 1.2s;
        clip-path: rect(0, 0, 0, 0);
        clip: rect(0, 0, 0, 0);
        &:after{
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          bottom: -2px;
          left: 0;
          background-color: #101010;
          @include prefixonprop(transform, scaleY(1));
          @include prefixonprop(transition, transform(cubic-bezier(.25,.1, -.1,1)));
          transform-origin: center;
          transition-duration: 1s;
          transition-delay: 0.25s;
        }
      }
      &:last-child{
        transition-delay: 0.6s;
        transition-duration: 1.4s;
        &:after{
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          bottom: -2px;
          left: 0;
          background-color: #101010;
          @include prefixonprop(transform, scale(1,1));
        }
      }
    }
    .words_container{
      display: block;
      overflow: hidden;
    }
  }
  &.viewed[data-position="up"] {
      h2{
        @include prefixonprop(transform, translateY(0));
        @include prefixonprop(transition, transform(cubic-bezier(.25,.1, -.1,1)));
        &:after{
           @include prefixonprop(transform, scaleY(0));
        }
    }
    .img_hero{
      video{
        @include prefixonprop(transform, scale(1, 1) translateX(0%));
        transform-origin: center;
        @include prefixonprop(transition, transform(cubic-bezier(.25,.1, -.1,1)));
        transition-duration: 1.4s;
      }
      &:after{
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        background-color: #101010;
        @include prefixonprop(transform, scaleY(0));
        transform-origin: top;
        @include prefixonprop(transition, transform(cubic-bezier(.25,.1, -.1,1)));
        transition-duration: 1.4s;
      }
    }
  }
  &.animate-load[data-position="up"] { 
      h2{@include prefixonvalue(transform, translateY(111%));}
      .img_hero{
      &:after{
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        background-color: #101010;
        @include prefixonprop(transform, scaleY(1));
        transform-origin: top;
        @include prefixonprop(transition, transform(cubic-bezier(.25,.1, -.1,1)));
        transition-duration: 1.4s;
      }
      video{
        @include prefixonprop(transform, scale(1.25, 1.25) translateX(-50%));
      }
    }
  }
  .btn_scroll.animate-remove{
    @include prefixonprop(transition, opacity 0.3s .0s ease-in); 
    &:before{
      @include prefixonprop(transition, transform 0.5s 0s ease-in); 
      @include prefixonprop(transform, scaleY(0));
      transform-origin: top;
    }
  }
}
}
/***************
  END HERO
****************/
.main-content{
  #about{
    .container{
      .mask{
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        height: 0.9vw;
        overflow: hidden;
        margin-bottom: 5.6%;
        //padding: 0 0 0 55px;
        ~ .item_2 {
        display: inline-block;
        opacity: 0;
        @include prefixonprop(transform, translateY(6%));		
        }
        &[data-position="up"].viewed ~ .item_2{
        @include prefixonprop(transform, translateY(0));
        transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
        transition-duration: 1.2s;
        opacity: 1;
        transition-delay: 0.4s;
        }
      }
      .column_container{
        display: block;
        margin-top: 2.7%;
        &:after{
          @include clear_fix;
        }
        .row{
          .col{
            .fadein{
              display: block;
            }
          }
        }
      }
      @for $i from 3 through 4{	
        .item_#{$i}{
          transition-delay: 0.1s + ($i / 9);
        }
      
      }
    }
  }

  #certifications{
    .container{
      .mask{
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        height: 2vw;
        overflow: hidden;
        margin-bottom: 2.8%;
        ~ .item_2 {
        display: inline-block;
        opacity: 0;
        @include prefixonprop(transform, translateY(6%));		
        }
        &[data-position="up"].viewed ~ .item_2{
        @include prefixonprop(transform, translateY(0));
        transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
        transition-duration: 1.2s;
        opacity: 1;
        transition-delay: 0.4s;
        }
      }
    }
  }
  #certifications-grid{
    .container{
      .grid-flex-cert{
        .grid-item{
          .mask{
            width: 100%;
            display: block;
            position: relative;
            top: 0;
            height: 6vw;
            overflow: hidden;
            margin-bottom: 8.2%;
          }
          @for $i from 1 through 4{	
            .item_#{$i}{
              transition-delay: 0.4s + ($i / 7);
            }
            //.mask-fadein.animBlock[data-position="in"]{
            //  display: block;
            //}
          }
        }
      }
    }
  }
  #stats{
    .container{
      .mask{
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        height: 1vw;
        overflow: hidden;
        margin-bottom: 5.6%;
        //padding: 0 0 0 55px;
        ~ .item_2 {
        display: inline-block;
        opacity: 0;
        @include prefixonprop(transform, translateY(6%));		
        }
        &[data-position="up"].viewed ~ .item_2{
        @include prefixonprop(transform, translateY(0));
        transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
        transition-duration: 1.2s;
        opacity: 1;
        transition-delay: 0.4s;
        }
      }
      .column_container{
        display: block;
        margin-top: 2.7%;
        &:after{
          @include clear_fix;
        }
        .row{
          .col{
            .fadein{
              display: block;
            }
          }
        }
      }
      @for $i from 3 through 4{	
        .item_#{$i}{
          transition-delay: 0.1s + ($i / 9);
        }
      }
    }
  }
  #services_hover{
    .front-industries{
      .container{
        .mask{
          width: 100%;
          display: block;
          position: relative;
          top: 0;
          height: 2vw;
          overflow: hidden;
          margin-bottom: 5.6%;
          //padding: 0 0 0 55px;
          ~ .item_2 {
          display: inline-block;
          opacity: 0;
          @include prefixonprop(transform, translateY(6%));		
          }
          &[data-position="up"].viewed ~ .item_2{
          @include prefixonprop(transform, translateY(0));
          transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
          transition-duration: 1.2s;
          opacity: 1;
          transition-delay: 0.4s;
          }
        }
        .column_container{
          display: block;
          margin-top: 2.7%;
          &:after{
            @include clear_fix;
          }
          .row{
            .col{
              .fadein{
                display: block;
              }
            }
          }
        }
        @for $i from 3 through 4{	
          .item_#{$i}{
            transition-delay: 0.1s + ($i / 9);
          }
        }
      }
    }
  }
  #projects{
    .container{
      .mask{
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        height: 2vw;
        overflow: hidden;
        margin-bottom: 2.8%;
        ~ .item_2 {
        display: inline-block;
        opacity: 0;
        @include prefixonprop(transform, translateY(6%));		
        }
        &[data-position="up"].viewed ~ .item_2{
        @include prefixonprop(transform, translateY(0));
        transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
        transition-duration: 1.2s;
        opacity: 1;
        transition-delay: 0.4s;
        }
      }
    }
  }
  #machinery{
    .container{
      .mask{
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        height: 2vw;
        overflow: hidden;
        margin-bottom: 5.6%;
        //padding: 0 0 0 55px;
        ~ .item_2 {
        display: inline-block;
        opacity: 0;
        @include prefixonprop(transform, translateY(6%));		
        }
        &[data-position="up"].viewed ~ .item_2{
        @include prefixonprop(transform, translateY(0));
        transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
        transition-duration: 1.2s;
        opacity: 1;
        transition-delay: 0.4s;
        }
      }
      .column_container{
        display: block;
        margin-top: 2.7%;
        &:after{
          @include clear_fix;
        }
        .row{
          .col{
            .fadein{
              display: block;
            }
          }
        }
      }
      @for $i from 3 through 4{	
        .item_#{$i}{
          transition-delay: 0.1s + ($i / 9);
        }
      }
    }
  }
  #clients{
    .container{
      .mask{
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        height: 3vw;
        overflow: hidden;
        margin-bottom: 8.8%;
        ~ .item_2 {
        display: inline-block;
        opacity: 0;
        @include prefixonprop(transform, translateY(6%));		
        }
        &[data-position="up"].viewed ~ .item_2{
        @include prefixonprop(transform, translateY(0));
        transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
        transition-duration: 1.2s;
        opacity: 1;
        transition-delay: 0.4s;
        }
      }
    }
  }
  .c-logo-grid{
    .container{
      .grid{
        .shot{
          .mask{
            width: 100%;
            display: block;
            position: relative;
            top: 0;
            height: 6vw;
            overflow: hidden;
            margin-bottom: 8.2%;
          }
          @for $i from 1 through 12{	
            .item_#{$i}{
              transition-delay: 0.4s + ($i / 7);
            }
            //.mask-fadein.animBlock[data-position="in"]{
            //  display: block;
            //}
          }
        }
      }
    }
  }
  #contact_cta{
    .container{
      .mask{
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        height: 3vw;
        overflow: hidden;
        margin-bottom: 6.8%;
        ~ .item_2 {
        display: inline-block;
        opacity: 0;
        @include prefixonprop(transform, translateY(6%));		
        }
        &[data-position="up"].viewed ~ .item_2{
        @include prefixonprop(transform, translateY(0));
        transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
        transition-duration: 1.2s;
        opacity: 1;
        transition-delay: 0.4s;
        } 
      }
      .column_container{
        display: block;
        margin-top: 2.7%;
        &:after{
          @include clear_fix;
        }
        .row{
          .col{
            .fadein{
              display: block;
            }
          }
        }
      }
      @for $i from 3 through 4{	
        .item_#{$i}{
          transition-delay: 0.4s + ($i / 9);
        }
      }
      .mask-fadein.animBlock[data-position="in"]{
        display: block;
      }
      /*
      .mask{
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        height: 6vw;
        overflow: hidden;
        margin-bottom: 8.2%;
      }
      .fadein{
        display: block;
      }
      */
    }
  } 
}


/***************
****************
****************
  BREAKPOINTS
****************
****************
****************
****************/



@media only screen and (max-width : 640px) {

  .main-content{
    #about{
      .container{
        .mask{
          height: 3vw;
        }
      }
    }
    #certifications{
      .container{
        .mask{
          height: 6vw;
          margin-bottom: 6%;
        }
      }
    }
    #stats{
      .container{
        .mask{
          height: 6vw;
          margin-bottom: 6%;
        }
      }
    }
    #services_hover{
      .front-industries{
        .container{
          .mask{
            height: 6vw;
            margin-bottom: 6%;
          }
        }
      }
    }
    #projects{
      .container{
        .mask{
          height: 6vw;
          margin-bottom: 6%;
        }
      }
    }
    #machinery{
      .container{
        .mask{
          height: 6vw;
          margin-bottom: 6%;
        }
      }
    }
    #contact_cta{
      .container{
        .mask{
          margin-bottom: 6%;
        }
      }
    }
  }
}


/***************
****************
****************
  PAGES STYLES
****************
****************
****************
****************/



/***************
    NOSOTROS ABOUT
  ****************/
  #about{
    #about-page{
      #about-page__content{
        .container{
          .mask{
            width: 100%;
            display: block;
            position: relative;
            top: 0;
            height: 1vw;
            overflow: hidden;
            margin-bottom: 5.6%;
            //padding: 0 0 0 55px;
            ~ .item_2 {
            display: inline-block;
            opacity: 0;
            @include prefixonprop(transform, translateY(6%));		
            }
            &[data-position="up"].viewed ~ .item_2{
            @include prefixonprop(transform, translateY(0));
            transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
            transition-duration: 1.2s;
            opacity: 1;
            transition-delay: 0.4s;
            }
          }
        }
      }
      #stats{
        .container{
          .mask{
            width: 100%;
            display: block;
            position: relative;
            top: 0;
            height: 1vw;
            overflow: hidden;
            margin-bottom: 5.6%;
            //padding: 0 0 0 55px;
            ~ .item_2 {
            display: inline-block;
            opacity: 0;
            @include prefixonprop(transform, translateY(6%));		
            }
            &[data-position="up"].viewed ~ .item_2{
            @include prefixonprop(transform, translateY(0));
            transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
            transition-duration: 1.2s;
            opacity: 1;
            transition-delay: 0.4s;
            }
          }
          .column_container{
            display: block;
            margin-top: 2.7%;
            &:after{
              @include clear_fix;
            }
            .row{
              .col{
                .fadein{
                  display: block;
                }
              }
            }
          }
          @for $i from 3 through 5{	
            .item_#{$i}{
              transition-delay: 0.1s + ($i / 9);
            }
          }
        }
      }
      #machinery_about{
        .container{
          .mask{
            width: 100%;
            display: block;
            position: relative;
            top: 0;
            height: 1vw;
            overflow: hidden;
            margin-bottom: 2.8%;
            //padding: 0 0 0 55px;
            ~ .item_2 {
            display: inline-block;
            opacity: 0;
            @include prefixonprop(transform, translateY(6%));		
            }
            &[data-position="up"].viewed ~ .item_2{
            @include prefixonprop(transform, translateY(0));
            transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
            transition-duration: 1.2s;
            opacity: 1;
            transition-delay: 0.4s;
            }
          }
          .column_container{
            display: block;
            margin-top: 2.7%;
            &:after{
              @include clear_fix;
            }
            .row{
              .col{
                .fadein{
                  display: block;
                }
              }
            }
          }
          @for $i from 3 through 12{	
            .item_#{$i}{
              transition-delay: 0.1s + ($i / 9);
            }
          }
        }
      }
    }

  }


  /***************
    Page CONTACT
  ****************/

  #services_{
    .container{
      .mask{
          width: 100%;
          display: block;
          position: relative;
          top: 0;
          height: 0.66vw;
          overflow: hidden;
        }
      .column_container{	
        .row{
          .col{
            .mask{
                width: 100%;
                display: block;
                position: relative;
                top: 0;
                height: 4vw;
                overflow: hidden;
                margin-bottom: 1%;
              }
            @for $i from 1 through 6{	
              .item_#{$i}{
                transition-delay: 0.4s + ($i / 7);
              }
            }
          }
        }
      }
    }
  }
  #formulario_contacto{
    .container{
      .mask{
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        height: 1vw;
        overflow: hidden;
        margin-bottom: 5.6%;
        //padding: 0 0 0 55px;
        ~ .item_2 {
        display: inline-block;
        opacity: 0;
        @include prefixonprop(transform, translateY(6%));		
        }
        &[data-position="up"].viewed ~ .item_2{
        @include prefixonprop(transform, translateY(0));
        transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
        transition-duration: 1.2s;
        opacity: 1;
        transition-delay: 0.4s;
        }
      }
      .column_container{
        display: block;
        margin-top: 2.7%;
        &:after{
          @include clear_fix;
        }
        .row{
          .col{
            .fadein{
              display: block;
            }
          }
        }
      }
      @for $i from 3 through 4{	
        .item_#{$i}{
          transition-delay: 0.1s + ($i / 9);
        }
      }
    }
  }

  /***************
    Page Service Each
  ****************/
  .service-each-paragraph{
    .container{
      .mask{
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        height: 0.9vw;
        overflow: hidden;
        margin-bottom: 5.6%;
        //padding: 0 0 0 55px;
        ~ .item_2 {
        display: inline-block;
        opacity: 0;
        @include prefixonprop(transform, translateY(6%));		
        }
        &[data-position="up"].viewed ~ .item_2{
        @include prefixonprop(transform, translateY(0));
        transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
        transition-duration: 1.2s;
        opacity: 1;
        transition-delay: 0.4s;
        }
      }
      .column_container{
        display: block;
        margin-top: 2.7%;
        &:after{
          @include clear_fix;
        }
        .row{
          .col{
            .fadein{
              display: block;
            }
          }
        }
      }
      @for $i from 3 through 4{	
        .item_#{$i}{
          transition-delay: 0.1s + ($i / 9);
        }
      
      }
    }
  }
  .service-each__info-section{
    padding: 10% 0 12%;
    .service-each__info{
      .container{
        .mask{
          width: 100%;
          display: block;
          position: relative;
          top: 0;
          height: 1vw;
          overflow: hidden;
          margin-bottom: 5.6%;
          //padding: 0 0 0 55px;
          ~ .item_2 {
          display: inline-block;
          opacity: 0;
          @include prefixonprop(transform, translateY(6%));		
          }
          &[data-position="up"].viewed ~ .item_2{
          @include prefixonprop(transform, translateY(0));
          transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
          transition-duration: 1.2s;
          opacity: 1;
          transition-delay: 0.4s;
          }
        }
        .column_container{
          display: block;
          margin-top: 2.7%;
          &:after{
            @include clear_fix;
          }
          .row{
            .col{
              .fadein{
                display: block;
              }
            }
          }
        }
        @for $i from 3 through 5{	
          .item_#{$i}{
            transition-delay: 0.1s + ($i / 5);
          }
        }
      }
      .mask-fadein.animBlock[data-position="in"]{
        display: block;
      }
    }
  }
  
  .see-projects_cta{
    .container{
      .mask{
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        height: 1vw;
        overflow: hidden;
        margin-bottom: 2.8%;
        ~ .item_2 {
        display: inline-block;
        opacity: 0;
        @include prefixonprop(transform, translateY(6%));		
        }
        &[data-position="up"].viewed ~ .item_2{
        @include prefixonprop(transform, translateY(0));
        transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
        transition-duration: 1.2s;
        opacity: 1;
        transition-delay: 0.4s;
        } 
      }
      .column_container{
        display: block;
        margin-top: 2.7%;
        &:after{
          @include clear_fix;
        }
        .row{
          .col{
            .fadein{
              display: block;
            }
          }
        }
      }
      @for $i from 3 through 4{	
        .item_#{$i}{
          transition-delay: 0.4s + ($i / 9);
        }
      }
      .mask-fadein.animBlock[data-position="in"]{
        display: block;
      }
      /*
      .mask{
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        height: 6vw;
        overflow: hidden;
        margin-bottom: 8.2%;
      }
      .fadein{
        display: block;
      }
      */
    }
  }
  .project-each__paragraph{
    .container{
      .mask{
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        height: 2vw;
        overflow: hidden;
        margin-bottom: 2.8%;
        ~ .item_2 {
        display: inline-block;
        opacity: 0;
        @include prefixonprop(transform, translateY(6%));		
        }
        &[data-position="up"].viewed ~ .item_2{
        @include prefixonprop(transform, translateY(0));
        transition: transform(cubic-bezier(.25,.1, -.1,1)), opacity 0.6s;
        transition-duration: 1.2s;
        opacity: 1;
        transition-delay: 0.4s;
        }
      }
    }
  }


  @media only screen and (max-width : 640px) {
    .see-projects_cta{
      .container{
        .mask{
          height: 6vw;
          margin-bottom: 6%;
        }
      }
    }
  }
  


  