@font-face {
  font-family: "MonumentExtended";
  src: url('/font/MonumentExtended-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;800&display=swap');