// Color Palette
$accent-color: rgba(251, 95, 46, 0.95);;
$accent-color-shade2: #FDB29B;;
$accent-color-shade3: rgba(220, 55, 4, 0.76);
$neutral1: #F8F9FA;
$neutral2: #DEE2E6;
$neutral3: #6C757D;
$neutral4: #343A40;
$neutral5-secondary-color: #121417;
$neutral6: #090A0B;

// Gradient
$blue-gradient: linear-gradient(180deg, rgba(18, 20, 23, 0.12) 26.56%, #121417 100%);

// Typography
$accent-font: 'MonumentExtended', sans-serif;
$base-font: 'Archivo', sans-serif; 
