@forward 'normalize';
@forward 'contact-form';

// ---------------------------------------------
// ---------------------------------------------
// RESET
// ---------------------------------------------
// ---------------------------------------------

*,
*::after,
*::before{
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, picture {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
  font-weight: 400;
}

//make images easier to work with
img, picture{
  max-width: 100%;
  display: block;
}

//make forms easier to work with
input, button, textarea, select{
  font: inherit;
}

//remove animations for people who've turned them off 
@media (prefers-reduced-motion: reduce){
  *, *::after, *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a, a:visited, a:active{
  text-decoration: none;
}










// ---------------------------------------------
// ---------------------------------------------
// UTILITY CLASSES
// ---------------------------------------------
// ---------------------------------------------

// ------------------------------
// GENERAL

.flex{
  display: flex;
  gap: var(--gap, 1rem);
}


.grid{
  display: grid;
  gap: var(--gap, 1rem);
}

.container{
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.container-stretch{
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 42rem;
}

.container-medium{
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 62rem;
}

.section{
  // padding-bottom: max(6rem, 20vh);
  // padding-top: max(6rem, 20vh);
  padding: clamp(8rem, 6vw + 1rem, 20vh) 0;
}

.grid-container{
  //border: 5px solid limegreen;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  
  //row-gap: 10%;
  //place-content: center;
}

@media (min-width: 45em){
  .grid-container{
    column-gap: var(--container-gap, 2rem) ;
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2rem, 1fr);
  }

  .grid-container > *:first-child{
    grid-column: 2;
    //outline: 1px solid yellow;
  }
  .grid-container > *:last-child{
    grid-column: 3;
    //outline: 1px solid red;
  }

  .text-mobile-center{
    text-align: left;
  }
}


.flow > * + * {  //not first child
  margin-top: var(--flow-space, 1rem);
  //outline: 1px solid blue;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap; //added line
  border: 0;
}

.d-block{
  display: block;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.inline-block{
  display: inline-block;
}


///

$transition: 0.3s ease-in-out;


/// ------
.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-mobile-center{
  text-align: center;
}


//Margin Bottom

.mb0_5{
  margin-bottom: 0.5rem;
}
.mb1{
  margin-bottom: 1rem;
}
.mb1_5{
  margin-bottom: 1.5rem;
}
.mb2{
  margin-bottom: 2rem;
}
.mb3{
  margin-bottom: 3rem;
}
.mb4{
  margin-bottom: 4rem;
}
.mb5{
  margin-bottom: 5rem;
}
.mb10{
  margin-bottom: 10rem;
}
.mb15{
  margin-bottom: 15rem;
}
.mb20{
  margin-bottom: 20rem;
}

.mt1{margin-top: 1rem;}
.mt5{margin-bottom: 5rem;}
.m10{margin-top: 10rem;}

//Padding Bottom
.pb16{
  padding-bottom: 16rem;
}



// ------------------------------
// CUSTOM PROPERTIES

:root{
  //colors
  --primary: 45 33% 88%;
  --primary-lighter-0: 47 43% 96%;
  --primary-darker-2: 49 22% 85%;

  --dark: 60 8% 17%;
  --dark-darker: 60 16% 9%;

  --accent-yellow: 46 97% 51%;

  --dark-green: 139 9% 36%;
  --light-green: 138 14% 58%;

  --dark-blue: 187 29% 36%;
  --light-blue: 169 26% 74%;

  --dark-yellow: 40 69% 60%;

  //font-sizes
  --fs-900: clamp(3rem, 6vw + 1rem, 6.25rem); //42 display1
  --fs-800: 2.5rem; //40 headline2
  --fs-799: 2.5rem; // headline2 smaller
  --fs-750: 2.5rem; //CLASS CARD TITLE
  --fs-700: 1.6rem; //20 special paragraph
  --fs-600: 1.6rem;//Big Paragraph Body
  --fs-500: 1rem; // 16 caption
  --fs-400: 0.9375rem;  //15 body size
  --fs-300: 0.875rem; //14
  --fs-200: 0.875rem; //14  
}

@media (min-width: 35em){ //tablet size
  :root{
    //--fs-900: 5rem; //80 display1
    --fs-800: 2.5rem; //40 headline2
    --fs-799: 3rem; //40 headline2
    --fs-750: 2.5rem; //CLASS CARD TITLE
    --fs-700: 2.25rem; //36 special paragraph
    --fs-600: 1.6rem;//30 Big Paragrahp Body
    --fs-500: 1.25rem; // 18 caption
    --fs-400: 1rem;  //body size 16
    --fs-300: 0.875rem; //14
    --fs-200: 0.75rem; //Menu
  }
}

@media (min-width: 45em){ //large screen size
  :root{
    //font-sizes
    //--fs-900: 6.25rem; //100 display1
    --fs-800: 4.625rem; //74 headline2
    --fs-799: 3rem; //74 headline2
    --fs-750: 2.5rem; //CLASS CARD TITLE
    --fs-700: 2.3rem; // special paragraph
    --fs-650: 1.2rem; //CLASS CARD TITLE
    --fs-600: 1.63rem;//30 Big Body
    --fs-500: 1.25rem; // 18 caption
    --fs-400: 1rem;  //body size 16
    --fs-300: 0.875rem; //14
    --fs-200: 0.8125rem; //Menu
  }
}

@media (min-width: 55em){ //extra large screen size
  :root{
    --fs-799: 4rem; //74 headline2
    --fs-750: 2.7rem; //CLASS CARD TITLE
  }
}


// ------------------------------
// FONTS 

@font-face {
  font-family: 'Junicode';
  src: url('../fonts/Junicode-BoldCondensed-webfont.woff') format('woff'); 
  font-weight: 700;
  font-style: normal;
}

$sans-font: 'Syne', sans-serif;
$serif-font: 'Junicode', serif;


// ------------------------------
// TYPOGRAPHY 
h1, h2 {line-height: 1.1;}

.text-dark{color: hsl(var(--dark));}
.text-dark-op {color: hsl( var(--dark-darker)/0.8);}

.text-light{color: hsl(var(--primary-lighter-0));} 
.text-light-op{color: hsl(var(--primary-lighter-0)/0.8);}

.text-accent{color: hsl(var(--accent-yellow));}

.ff-serif { font-family: $serif-font; }
.ff-sans { font-family: $sans-font; }

.letter-spacing-1 { letter-spacing: -1px;}
.letter-spacing-2 { letter-spacing: 1px;}

.uppercase { text-transform: uppercase;}

.fs-900 { font-size: var(--fs-900);}
.fs-800 { font-size: var(--fs-800);}
.fs-799 { font-size: var(--fs-799);}
.fs-750 { font-size: var(--fs-750);}
.fs-700 { font-size: var(--fs-700);}
.fs-600 { font-size: var(--fs-600);}
.fs-500 { font-size: var(--fs-500);}
.fs-400 { font-size: var(--fs-400);}
.fs-300 { font-size: var(--fs-300);}
.fs-200 { font-size: var(--fs-200);}

.fw-semibold {font-weight: 600;}

.fs-900,
.fs-700,
.fs-600{
  line-height: 1;
}

.fs-750{
  line-height: 0.9;
}

.fs-800, .fs-799{
  line-height: 0.8;
}

.bg-accent-yellow {background-color: hsl(var(--accent-yellow));}
.bg-primary{background-color: hsl(var(--primary));};
.bg-primary-darker-2{background-color: hsl(var(--primary-darker-2));}
.bg-primary-lighter-0 {background-color: hsl(var(--primary-lighter-0));}
.bg-dark {background-color: hsl(var(--dark));}
.bg-light-green {background-color: hsl(var(--light-green));}
.bg-dark-green {background-color: hsl(var(--dark-green));}
.bg-dark-blue {background-color: hsl(var(--dark-blue));}
.bg-light-blue {background-color: hsl(var(--light-blue));}
.bg-dark-yellow {background-color: hsl(var(--dark-yellow));}



// ------------------------------



body{
  font-family: $sans-font;
  font-size: var(--fs-400);
  line-height: 1.6;
  background-color: hsl(var(--primary));
  color: hsl(var(--dark)/0.8);
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}




// ---------------------------------------------
// ---------------------------------------------
// Components
// ---------------------------------------------
// ---------------------------------------------

span,p{
  a{
    color: hsl(var(--dark));
    transition: $transition;
    border-bottom: 1px solid hsl(var(--dark)) ;
    &:hover{
      color: hsl(var(--dark-yellow));
      border-bottom: 1px solid hsl(var(--dark-yellow)) ;
    }
  }
}

// ---------------------------------------------
// BUTTONS
// ---------------------------------------------
.btn{
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 50px;
  transition: $transition;
  min-width: 150px;
  &_main{
    padding: 0.75em 2em;
    //border: 1px solid hsl(var(--dark));
    &:hover,:focus{
      background-color: hsl(var(--dark-green));
      color: hsl(var(--primary-lighter-0));
    }
  }
  &_thin{
    padding: 0.3em 2em;
    //border: 1px solid hsl(var(--dark));
    &:hover,:focus{
      background-color: hsl(var(--dark-green));
      color: hsl(var(--primary-lighter-0));
    }
  }
  &_inline{
    padding: 0.75em 2em;
    &_light{
      border: 1px solid hsl(var(--primary-lighter-0));
      background-color: transparent;
      &:hover,:focus{
        background-color: hsl(var(--light-green));
      }
    }
    &_dark{
      border: 1px solid hsl(var(--dark));
      background-color: transparent;
      &:hover,:focus{
        background-color: hsl(var(--light-green));
      }
    }
  }
}






// ---------------------------------------------
// Header / Nav
// ---------------------------------------------

//Primary Header

// header{
//   position: fixed;
// }

.header{
  
  background-color: hsl(var(--primary));
  height: 88px;
}

.primary-header{
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  
}

.logo{
  margin: 0.5rem clamp(1rem, 5vw, 3.5rem);
  max-width: 6rem;
  position: absolute;
  top: 5px;
  z-index: 1002;
}

.primary-navigation{
  --gap: 2rem;
  list-style: none;
  z-index: 100;
  padding: 0;
  margin: 0 0 0 6rem;
  background-color: hsl(var(--primary));
  z-index: 1001;
  // background-color: hsl(var(--primary)/.4);
  // backdrop-filter: blur(1rem);
  li{
    line-height: 1;
    text-align: center;
  }
}

.primary-navigation a{
  text-decoration: none;
  transition: $transition;
    &:hover{
      color: hsl( var(--dark-darker)/0.7);
      //font-family: $serif-font;
    }
}

.mobile-nav-toggle {
  display: none;
}

.menu-wp-btn{
  padding-inline: 2rem;
  //padding-inline: clamp(4rem,3vw,1rem);
  z-index: 1002;
  //padding: 1rem;
}

.wp-btn{
  display: inline-block;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid hsl(60 8% 17%);
  transition: $transition;
  img{
    width: 18px;
  }
  &:hover{
    background-color: hsl(var(--accent-yellow));
  }
}



@media (max-width: 50em){ //mobile
  

  .primary-navigation{
    list-style: none;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 100;
    padding: min(18rem, 20vh) 2rem;
    margin: 0;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    display: inline-block;
    position: absolute;
    z-index: 2000;
    right: 5rem;
    //top: 2rem;
    background: transparent;
    background-image: url(/assets/img/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 3rem;
    aspect-ratio: 1;
    border: 12px solid transparent;
    //margin: 2rem;
    //padding: 2rem;
    //z-index: 3000;
    //margin: 2rem;
    cursor: pointer;
  }

  .mobile-nav-toggle[aria-expanded="true"]{
    background-image: url(/assets/img/icon-close.svg);
  }

  .menu-wp-btn{
    //position: absolute;
    //padding-inline: clamp(1rem,3vw,3rem);
    //right: 3rem;
    display: inline-block;
    position: relative;
    padding-inline:1rem;
  }
}

@media (min-width: 50em){
  .primary-navigation{
    --gap: 0.5rem;
    padding-inline: 0.6rem;
    margin: 0 0 0 8rem;
    li{
     line-height: 0.9; 
    }
  }
}

@media (min-width: 60em){
  .header{
    height: 90px;
  }

  .primary-navigation{
    padding-inline: 5rem;
  }
}


  
























// ---------------------------------------------
// INDEX
// ---------------------------------------------

//Hero
.hero{
  height: 100vh;
  display: flex;
  justify-content: center;
  //position: relative;
  // background-image: url(/assets/img/index/bg-hero-mobile.jpg);
  // background-size: cover;
  // background-position: center; 
  // position: relative;
}

.hero-title__wrapper{
  position: absolute;
  top: 35%;
  //left: 0;
  width: 100%;

}

.tinted-bg{
  background: linear-gradient(
    rgba(46, 56, 49, .6),
    rgba(46, 56, 49, .2)),
    url(/assets/img/index/bg-hero-desktop.jpg) 50% / cover;
    //height: 100%;
}
  //background-color: hsl( var(--dark-darker)/0.6);
 
@media (min-width: 35em){
  .hero{
    .tinted-bg{
    background-image: linear-gradient(
      rgba(46, 56, 49, .6),
      rgba(46, 56, 49, .2)),
      url(/assets/img/index/bg-hero-desktop.jpg) 50% / cover ;
      height: 100%;
    }
  }
}

@media (min-width: 45em){
  .hero{
    .tinted-bg{
    background-image: linear-gradient(
      rgba(46, 56, 49, .6),
      rgba(46, 56, 49, .2)),
      url(/assets/img/index/bg-hero-desktop.jpg) 50% / cover ;
      height: 100%;
    }
  }
}

//Intro Paragraph

.items-center{
  align-items: center;
}

.h-full{
  height: 100%;
}

.w-full{
  width: 100%;
}

.h-auto{
  height: auto;
}

.h-screen{
  height: 100vh;
}


.intro-img__img{
  position: relative;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.container-intro-paragraph{
  padding-inline: 3em;
  margin-inline: auto;
  max-width: 50rem;
}

@media (min-width: 64rem){
  .lg\:absolute {
    position: absolute;
  }
  .lg\:min-h-screen {
    min-height: 110vh;
  }
  .lg\:h-screen {
    height: 100vh;
  }
  .lg\:flex {
    display: flex;
  }
  .lg\:w-\[200vw\] {
    width: 200vw;
  }
  .lg\:h-full {
    height: 100%;
  }
  .lg\:w-screen {
    width: 100vw;
  }


  .intro-img {
      width: 70%;
      max-width: 50vh;
  }
  .image-wrapper{
    //margin-left: 6.25rem;
    padding: 0 2%;
  }
    
}



.max-w-\[255px\] {
  max-width: 255px;
}

.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.object-right {
  -o-object-position: right;
  object-position: right;
}

.img-fit-cover{
  object-fit: cover;
}

.img-object-position-top{
  object-position: top;
}

.overflow-hidden {
  overflow: hidden;
}






// ---------------------------------------------
// CARDS
// ---------------------------------------------
// .container_cards{
//   padding-inline: 2em;
//   margin-inline: auto;
//   max-width: 80rem;
// }

.cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  //max-width: 100px;
  padding: 1rem;

  @media (min-width: 45em){
    justify-content: space-evenly;
    padding: 0;
  }
}

.card-wrapper{
  background-color: white;
  position: relative;
  min-height: 25rem;
  //margin: 1rem;
  margin-bottom: 1.6rem;
  .date{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2rem;
    border-radius: 0 0 0 30px;
  }
  .price{
    span{
      display: block;
      position: absolute;
      top: 1rem;
      left: 1rem;
      border-radius: 10px;
      padding: 0 1rem 0 1rem;
    }
  }
  // @media (min-width: 35em){
  //   width: 43%;
  // }
  @media (min-width: 45em){
    width: 48.5%;
    min-height: 28rem;
  
  }
  
  @media (min-width: 72em){
    width: 32%;
    min-height: 28rem;
    
  }
}

.tag{
  border-radius: 10px;
  padding: 0 1rem 0 1rem;
}

.card{
  display: flex;
  flex-direction: column;
  flex: 1 0 280px;
  //max-width: 360px;
  padding: 0.8rem 0.8rem 2.2rem;
  overflow: hidden;
  &__title{
    transition: $transition;
    &:hover{
      color: hsl(var(--accent-yellow));
    }
  }
  &__image{
    border-radius: 3px;
    flex: 0 0 140px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__tag{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-size: 14px;
  }
  &__horario{
    span{
      &:first-child{
        font-size: 11px;
      }
    }
  }
  &__btns{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    justify-content: space-evenly;
    div{
      margin-bottom: 0.5rem;
    }
  }
}


//Todos los Cursos Grupales Cards
.cg-cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  @media (min-width: 45em){
    justify-content: space-evenly;
    padding: 0;
  }

  // display: grid;
  // grid-gap: 1rem;
  // padding: 1rem;
  // //max-width: 1024px;
  // margin: 0 auto;

  // @media (min-width: 35em){
  //   grid-template-columns: repeat(2, 1fr);
  // }

  // @media (min-width: 45em){
  //   grid-template-columns: repeat(3, 1fr);
  // }
}

.cg-card{
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 3rem 0.6rem;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1.6rem;
  // border-radius: 300px;
  // aspect-ratio: 1/1.3;
  //border: 1px solid hsl(var(--dark)/0.5);
  background-color: hsl(var(--dark));
  figure{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    //opacity: 0;
    transform: scale(1.2);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    &:hover{
      opacity: 1;
      transform: scale(1);
    }
  }
  @media (min-width: 45em){
    width: 48.5%;
    height: 500px;
  }
  
  @media (min-width: 62em){
    width: 32%;
  }

  &__content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 2;

    > * + * {
      margin-top: 1rem;
    }
  }
  &__title{
    transition: $transition;
    &:hover{
      color: hsl(var(--dark-yellow));
    }
  }
}

.tinted-overlay{
	display: block;
	position: absolute;
	height: 100%;
  width: 100%;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
  // background: linear-gradient(
  //   rgba(46, 56, 49, .6),
  //   rgba(46, 56, 49, .2));
  //background: ;
  opacity: 0.7;
}


.p-relative{
  position: relative;
}

.p-absolute{
  position: absolute;
}


.boxed{
  margin: 0 2rem 0 2rem;
  border-radius: 20px;

  @media (min-width: 35em){
    margin: 0 4rem 0 4rem;
  }

  @media (min-width: 45em){
    margin: 0 5rem 0 5rem;
  }

}



.offset-line-dark{
  outline-color: hsl(var(--dark)/0.5);
  outline-offset: 10px;
  outline-style: solid;
  outline-width: 1px;
}

.offset-line-light{
  outline-color: hsl(var(--primary)/0.5);
  outline-style: solid;
  outline-offset: 10px;
  outline-width: 1px;
}


.img-circle{
  aspect-ratio: 1;
  border-radius: 50%;
  
}

.img-oval{
  aspect-ratio: 1/1.3;
  border-radius: 300px;
}

.lineheight-05{
  line-height: 0.5;
}

.item-self-align-start{
  align-self: start;
}

.grid-item-justify-self-center{
  justify-self: center;
}

.stack-top{
  z-index: 9;
}

.stack-top-mb{
  margin-bottom: -8rem;
}

.stack-top-mt{
  margin-top: -8rem;
}

.stack-bottom-pt{
  padding-top: 18rem;
}

.features{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.feature{
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 300px;
  padding: 3rem;
  --margin: 2rem;
  //max-width: 260px;
  aspect-ratio: 1/0.5;
  //flex: 0 0 100%; 
  //max-width: 280px;
  min-width: 200px;
  //overflow: hidden;
  position: relative;
  // &::after{
  //   content: "";
  //   position: absolute;
  //   border: 1px solid red;
  //   top: 20px;
  //   left: 20px;
  //   bottom: 20px;
  //   right: 20px;
  //   border-radius: 90%;
  //   //aspect-ratio: 1/0.5;
  //   //aspect-ratio: 0.5;
  // }
  span{
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 1rem;
  }

  @media (min-width: 35em){
    margin: 0 1rem;
    padding: 0 1rem;
    min-width:8rem;
    aspect-ratio: 1/1.3;
    width: clamp(100px, 43%, 270px);
  }

  @media (min-width: 50em){
    margin: 1rem;
    padding: 2.5rem;
    //width: 22%;
    width: clamp(22%, 33vw + 1rem, 250px);
    aspect-ratio: 1/1.3;
  }
}

.round{
  border-radius: 100%;
  position: relative;
  &_dark{
    &::after{
      content: "";
      position: absolute;
      border: 1px solid hsl(var(--dark)/0.5);
      top: -12px;
      left: -12px;
      bottom: -12px;
      right: -12px;
      border-radius: 100%;
    }
  }
  &_light{
    &::after{
      content: "";
      position: absolute;
      border: 1px solid hsl(var(--primary)/0.5);
      top: -12px;
      left: -12px;
      bottom: -12px;
      right: -12px;
      border-radius: 100%;
    }
  } 
 
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.round2{
  //border-radius: 100%;
  //overflow: hidden;
  position: relative;
  &::after{
  content: "";
    position: absolute;
    border: 1px solid blue;
    top: -12px;
    left: -12px;
    bottom: -12px;
    right: -12px;
    //border-radius: 100%;
    //transform: translate3d(30px, 5px, 0);
    border-radius: 300px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.bg-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.z-2{
  z-index: 2;
}

// ---------------------------------------------
// Footer

.footer_logo{
  display: flex;
  justify-content: center;
  img{
    max-width: 70%;
  }
}

.icons-wrapper{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.icon-btn{
  position: relative;
  background: hsl(var(--primary));
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  // transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: $transition;
  &:hover{
    background-color: hsl(var(--accent-yellow));
  }

}

.footer-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    a{
      transition: $transition;
      &:hover{
        color: hsl(var(--accent-yellow));
      }
    }
    
    @media (min-width: 35em){
      width: 30%;
    }

    img{
      //padding: 0.2rem;
      width: 20px;
    }
  }
}


// ---------------------------------------------
// About
// ---------------------------------------------

.about_cover{
  height: 30rem;
}



// ---------------------------------------------
// Single Course Page
// ---------------------------------------------


.accordion {
  .accordion-item {
    border-bottom: 1px solid hsl(var(--dark)/0.3);
    button[aria-expanded='true'] {
      border-bottom: 1px solid hsl(var(--dark-yellow));
    }
  }
  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: hsl(var(--dark)/0.9);
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    &:hover, &:focus {
      cursor: pointer;
      color: hsl(var(--dark-darker));
      &::after {
        cursor: pointer;
        color: hsl(var(--dark-darker));
        border: 1px solid hsl(var(--dark-yellow));
      }
    }
    .accordion-title {
      padding: 1em 1.5em 1em 0;
    }
    .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;
      &::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }
      &::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }
  }
  button[aria-expanded='true'] {
    color: hsl(var(--dark-darker));
    .icon {
      &::after {
        width: 0;
      }
    }
    + .accordion-content {
      opacity: 1;
      max-height: 14em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    p {
      font-size: 1rem;
      font-weight: 300;
      margin: 2em 0;
    }
  }
}
// ---------------------------------------------
// Reseñas
// ---------------------------------------------
.video-card-mb{
  margin-bottom: 8rem;

  @media (min-width: 45em){
    margin-bottom: 5rem;
  }
}

.video-card-left-mt{
  margin-top: 0;

  @media (min-width: 45em){
    margin-top: 10rem;
  }
}


.video-card{
  p{
    line-height: 1.2;
    padding: 0 3rem;
  }
}

// ---------------------------------------------
// Contacto
// ---------------------------------------------

.gmap{
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  position: relative;
  width: 90%;
  &__inner{
    height: 500px;
    width: 100%;
  }
}

.quform-input{
  input,textarea{
    background-color: hsl(var(--primary));
    border: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid hsl(var(--dark));
  }
}